div#cctp-metabox #poststuff .inside {
    margin: 6px 0 0 0;
    position: relative;
}
.cctp_modal_wraper {
    background: rgba(10, 30, 66, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9;
}
.cctp_modal {
    background: #ffffff;
    width: 50%;
    padding: 10px;
    height: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    border-radius: 10px;
    left: 50%;
    line-height: 25px;
    z-index: 99;
    text-transform: capitalize;
    transform: translate(-50%,-50%);
    max-height: 500px;
    overflow: auto;

}
.cctp_total_holding {
    display: grid;
}
/* table Style Start Here */
table#cctp_admin_list,
table#cctp_admin_list th,
table#cctp_admin_list tr,
table#cctp_admin_list td {
    background-color: transparent;
    padding:10px;
}
table#cctp_admin_list th{
    border-top:1px solid #cfd6e4;
    border-bottom:1px solid #cfd6e4;
}
table#cctp_admin_list th:last-child,
table#cctp_admin_list td:last-child{
    text-align: center;
}
table#cctp_admin_list.dataTable.no-footer {
    border-bottom: 1px solid #ddd;
}
table#cctp_admin_list td:first-child,
table#cctp_admin_list th:first-child{
text-align: center;
}
table#cctp_admin_list tbody tr td
table#cctp_admin_list thead tr th{
    border-bottom: 1px solid #ecf1fb !important;
}
table#cctp_admin_list tr:hover {
    background: #f8fbff !important;
}
.cctp_admin_list span.dashicons.dashicons-arrow-up,.cctp_admin_list span.dashicons.dashicons-arrow-down {
    padding: 0px !important;
    margin-left: -7px;
    width: auto;
    height: auto;
}
.cctp_statics span.dashicons.dashicons-arrow-up,.cctp_statics span.dashicons.dashicons-arrow-down {
    padding: 0px !important;
    margin-left: -7px;
    width: auto;
    height: auto;
}
.cctp_coins.button {
    background: blue;
    padding: 5px 10px !important;
    border-radius: 10px;
    font-size: 12px !important;
    font-weight: 700;
}
table#cctp_transaction_list {
    width: 100%;
}

.cctp_modal span.cctp_modal_close {
    cursor: pointer;
    position: sticky;
    left: 100%;
    display: inline-block;
    top: 0;
    z-index: 99;
}

.cctp_modal tbody.modal-content tr td {
    text-align: initial;
    font-size: 16px;
    font-weight: 600;
}
table#cctp_transaction_list tr th{
    font-size: 18px;
    font-weight: 600;
}
span.cctp_date, span.cctp_quantity.cctp_plus,
span.cctp_quantity.cctp_minus {
    display: block;
    font-weight: 200;
    font-size: 12px;
}

.dataTables_wrapper .dataTables_length select {
    padding: 4px 35px 4px 10px !important;
    width: 100px;
}
div#cctp_admin_list_wrapper input[type=search] {
    min-height: 30px !important;
    width: 100px;
}

.cctp_modal .cctp_coins_transactions h1 {
    text-transform: capitalize;
}

.cctp_statics {
    display: flex;
    margin: 15px 0px;
    align-items: center;
}

.cctp_best_perform_wrap,.cctp_statics span.cctp_all_time_profit {
    max-width: 33%;
    flex: 0 0 33%;
    position: relative;
}
.cctp_statics img {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.cctp_best_perform_wrap span.cctp_minus, .cctp_best_perform_wrap span.cctp_plus {
    margin-left: 40px;
}
.cctp_statics img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}



.cctp_logos img,.cctp_coins_transactions h1 img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.cctp_coins_transactions {
    text-align: left;
    position: sticky;
    top: -10px;
    background: #fff;
    z-index: 9;
    left: 0;
}
.cctp_coins_transactions h1{
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    text-align: left;
    margin-bottom: 15px;
}
span.cctp_currency_conversion {
    margin-left: 70%;
}



#cctp_admin_list tbody tr td.cctp_plus,
#cctp_admin_list tbody tr td span.cctp_plus,
span.cctp_best_performer span.cctp_plus,
span.cctp_worst_performer span.cctp_plus,
span.cctp_all_time_profit span.cctp_plus,
span.cctp_quantity.cctp_plus {
    color: #16c784;
}
#cctp_admin_list tbody tr td.cctp_minus,
#cctp_admin_list tbody tr td span.cctp_minus,
span.cctp_worst_performer span.cctp_minus,
span.cctp_best_performer span.cctp_minus,
span.cctp_all_time_profit span.cctp_minus,
span.cctp_quantity.cctp_minus {
    color: #ff0000;
}
.cctp_total_holding h1 {
    font-weight: bolder;
    font-size: 35px;
}

.cctp_statics span.cctp_all_time_profit,
.cctp_statics span.cctp_best_performer,
.cctp_statics span.cctp_worst_performer {
    font-weight: 600;
}
.cctp_statics span.cctp_best_performer,
.cctp_statics span.cctp_worst_performer {
    margin-left: 40px;
}
#postbox-container-1,#screen-meta-links,#edit-slug-box{display:none;}
#poststuff #post-body.columns-2 {
    margin-right: 0px;
}
span.cctp_holding {
    display: block;
    font-size: 14px;
    font-weight: 600;
    font-family: inherit;
    text-transform: capitalize;
    line-height: 20px;
}
span.cctp_logos, table#cctp_admin_list {
    color: #000;
    font-size: 14px;
    text-align: left;
    font-weight: 600;
}
span.cctp_name {
    display: block;
    margin-left: 45px;
}
span.cctp_quantity,span.cctp_symbol {
    font-weight: 300;
    font-size: 12px;
}
span.cctp_profitloss_percent {
    display: block;
}

/* Media Query Start Here */
@media(max-width:1024px){
    span.cctp_quantity, span.cctp_symbol,.cctp_logos img {
        display: block;
    }
    table#cctp_admin_list th {
        font-size: 12px;
    }
}
@media(max-width:767px){
    table#cctp_admin_list td:first-child,
table#cctp_admin_list th:first-child,
table#cctp_admin_list td:nth-child(2),
table#cctp_admin_list th:nth-child(2),
#cctp_transaction_list td:first-child,
#cctp_transaction_list th:first-child{
background-color: #f7f7f7;
position:sticky;
left: 0;
z-index: 1;
}
table#cctp_transaction_list tr th,
.cctp_modal tbody.modal-content tr td {
    font-size: 14px;
}
span.cctp_date, span.cctp_quantity.cctp_plus {
    font-size: 10px;
}
.cctp_coins_transactions h1 {
    font-size: 20px;
}
table#cctp_admin_list td:nth-child(2),
table#cctp_admin_list th:nth-child(2){
left: 45px;
}
table#cctp_admin_list {
    padding:10px 0px 0px 0px;
}
.cctp_admin_list .table-responsive {
    border: none !important;
}
.cctp_admin_list .dataTables_wrapper .dataTables_length,.cctp_admin_list .dataTables_wrapper .dataTables_filter {
    text-align: left !important;
    display: none;
}
.cctp_modal {
    width: 90%;
}
div#cctp_admin_list_wrapper {
    margin-bottom: 30px;
}
}
@media(max-width:540px){
    .cctp_statics {
        display: block;
}
.cctp_best_perform_wrap, .cctp_statics span.cctp_all_time_profit {
    max-width: 100%;
    flex: 0 0 100%;
    margin: 20px 0px;
}
.cctp_admin_list .dataTables_wrapper .dataTables_length,.cctp_admin_list .dataTables_wrapper .dataTables_filter {
    text-align: left !important;
}

}