.cctp-model-wrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    top: 0px;
    left: 0px;
    background: rgba(10, 30, 66, 0.4);
    z-index: 1102;
    font-family: sans-serif;
}
.cctp-model-edit-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    top: 0px;
    left: 0px;
    background: rgba(10, 30, 66, 0.4);
    z-index: 1102;
    font-family: sans-serif;
}
.cctp-model-transactionlist-wrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    top: 0px;
    left: 0px;
    background: rgba(10, 30, 66, 0.4);
    z-index: 1102;
    font-family: sans-serif;
}
.cctp-model-delete-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    top: 0px;
    left: 0px;
    background: rgba(10, 30, 66, 0.4);
    z-index: 1102;
    font-family: sans-serif;
}
.cctp-model-content {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    padding: 32px;
    width: 500px;
}
.cctp-model-transaction-content {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    padding: 32px;
    width: 50%;
}
.cctp-model-transaction-content .cctp-asset-table.pagination {
    max-height: 500px;
    overflow: auto;
}
.cctp-transaction-model-form .cctp-asset-table nav.sc-iJKOTD.bhoXfZ.rdt_Pagination {
    position: relative;
    bottom: 0;
    border: none !important;
    background: transparent;
    top: auto;
}

.cctp-model-title {
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    text-align: left;
    margin-bottom: 15px;
}
span.close-btn {
    position: absolute;
    right: 0;
    color: #cdcdcd;
    font-weight: 300;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.cctp-model-form select.cctp-select-coins,
.cctp-model-form input[type="text"],
.cctp-data-fields input[type="datetime-local"],
.cctp-data-fields input[type="number"],
.cctp-data-fields select,
.cctp-model-form textarea,
input#portfolio,
select.cctp-select-transaction-type ,
.cctp-add-fee input{
    padding: 9px 12px;
    height: 48px;
    background-color: transparent;
    width: 100%;
    border: 1px solid rgb(207, 214, 228);
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: initial;
}
.cctp-model-form label{
    line-height: 1.5;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    font-family: inherit;
    position: relative;
}
label span {
    position: absolute;
    line-height: 48.2px;
    font-size: 15px;
    left: 8px;
    color: #666666;
    font-weight: normal;
}
.cctp-data-fields label:nth-child(2) input,
.cctp-add-fee input {
    padding-left: 18px !important;
}
.cctp-data-fields {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
span.cctp-quantity-error,
span.cctp-price-error {
    font-size: 12px;
    line-height: 15px;
    position: relative;
    width: 91%;
    margin-top: 10px;
    display: inline-block;
}
.cctp-model-form {
    position: relative;
}
.cctp-data-fields label,
.cctp-data-fields input[type="datetime-local"],
.cctp-data-fields select {
    width: 49%;
    position: relative;
    text-align: left;
}
.cctp-wrap  .cctp-model-form input[type="button"],
.cctp-wrap  .cctp-model-form button {
    width: 100%;
    height: 48px;
    font-size: 14px;
    padding: 0px 24px;
    line-height: 24px;
    margin-top: 32px;
    -webkit-box-align: center;
    align-items: center;
    background: #3861fb;
    border: 0px;
    border-radius: 8px;
    display: inline-flex;
    color: rgb(255, 255, 255);
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
}
.cctp-model-form textarea {
    margin-top: 16px;
    background: #eff2f5;
    height: 100px;
    padding: 0px !important;
    padding-left: 26px !important;
    font-size: 23px;
    position: relative;
}
.cctp-model-form select.cctp-select-coins{
    margin-top: 16px;
}
.cctp-add-note textarea {
    margin-top: 0px;
}
label.cctp-add-fee, .cctp-add-note {
    margin-top: 16px;
    display: block;
    text-align: left;
}
.cctp-model-form p{
    word-wrap: break-word;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    text-align: left;
}
select.cctp-select-coins {
    border-radius: 8px;
    background: #cfd6e4;
    border: none;
    padding: 4px 14px;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
}
button.cctp-delete-transaction {
    margin-top: 0px;
}
/* loader CSS style code */
.cctp-model-delete-wrapper span.css-dk1kz6,
.cctp-model-edit-wrapper span.css-dk1kz6,
.cctp-clip-loader span.css-dk1kz6 {
    position: absolute;
    bottom: 90px;
    left: 25%;
    width: 30px;
    height: 30px;
    border-color: #fff;
    border-bottom-color: #3861fb;
}
.cctp-model-edit-wrapper span.css-dk1kz6,
.cctp-clip-loader span.css-dk1kz6 {
    bottom: 10px;
}
.cctp-transaction-model-title {
    position: relative;
    text-align: left;
    font-size: 32px;
}
.cctp-asset-wrapper .cctp-transaction-model-title {
    padding: 0px 0px 15px 0px;
}
.cctp-model-form input:focus-visible,
.cctp-model-form textarea:focus-visible,
.cctp-model-form select:focus-visible,
.cctp-model-form input:focus, 
.cctp-model-form textarea:focus, 
.cctp-model-form select:focus {
    outline: 1px solid #007bff !important;
    outline-offset: 0px;
}

.cctp-model-form select:hover {
   cursor: pointer;
}

.cctp-model-form .cctp-select-coins{
    text-align: left;
    z-index: 10;
    margin-top: 11px;
}
.cctp-model-form .cctp-select-coins input{
    outline: none !important;
}

/* Media Query Style */

@media(max-width:1024px){
    .cctp-transaction-model-title {
        font-size: 20px;
    }
    .cctp-asset-wrapper .cctp-model-transaction-content {
        width: 90%;
    }
}
@media(max-width:500px){
    .cctp-model-content {
        padding: 20px;
        margin: 0px 10px;
    }
    .cctp-model-form p {
        text-align: left;
    }
    .cctp-model-transaction-content{
        width: 90%;
    }
    .cctp-model-title {
        font-size: 14px;
    }
    button.cctp-delete-transaction {
        font-size: 13px;
        padding: 2px 10px;
    }
  
}